*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  min-height:100vh;
  background:
    radial-gradient(circle at top, #2fdcff 0%, #081018 40%, #05070d 80%);
  color:white;
}

.app{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:80px;
  padding:40px;
}

/* Sidebar */
.sidebar{
  width:420px;
  display:flex;
  flex-direction:column;
  gap:30px;
}

.logo-img{
  width:28px;
  height:28px;
  object-fit:contain;
  filter:drop-shadow(0 0 6px #2fdcff);
}

/* Card */
.card{
  background:rgba(10,30,60,0.75);
  padding:25px;
  border-radius:20px;
  box-shadow:0 0 25px rgba(0,255,255,0.2);
}

.card h2{
  margin-bottom:15px;
}

/* Timer */
#timer{
  font-size:64px;
  text-align:center;
  color:#2fdcff;
  margin:10px 0;
}

.progress-bar{
  height:8px;
  background:#111;
  border-radius:20px;
  overflow:hidden;
}

#progress{
  height:100%;
  width:0%;
  background:#2fdcff;
}

.buttons{
  display:flex;
  justify-content:center;
  gap:15px;
  margin-top:15px;
}

button{
  padding:10px 22px;
  border:none;
  border-radius:20px;
  background:#2fdcff;
  color:black;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  background:#19b7d4;
}

/* Countdown */
.countdown{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
  margin-bottom:15px;
}

.countdown div{
  background:#071b33;
  padding:12px;
  border-radius:12px;
  text-align:center;
}

.countdown span{
  font-size:22px;
  color:#2fdcff;
  display:block;
}

input[type="date"]{
  width:100%;
  padding:10px;
  border-radius:10px;
  border:none;
  margin-bottom:10px;
}

